body{
    background: bisque;
}

h1,
h2,
h3,
h4,
h5,
h6{
    text-align: center;
}

.main-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
    position: relative;
    background-color: aquamarine;
    text-align: center;
}

